* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Roboto;
    font-weight: normal;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    // display: grid;
    // grid-template-rows: 1fr 12fr 1fr;
    // overflow: hidden;
    background-color: rgb(200, 200, 200);
}

#header {
    position: fixed;
    width: 100%;
    user-select: none;
    overflow: hidden;
    background-color: rgb(12, 12, 12);
    height: 5vh;

    .menuItem {
        float: right;
        height: 100%;
        width: 12vh;

        a {
            width: 100%;
            height: 100%;
            font-size: 1.8vh;
            text-decoration: none;
        }
    }
    
    .menuItem.active {
        background-color: #04AA6D;

        a {
            color: white;
        }
    }   
    
    .menuItem:hover {
        background-color: rgb(200, 200, 200);

        a {
            color: rgb(26, 26, 26);
        }
    }
    
    #title {
        height: 100%;
        float: left;
        color: rgba(255, 255, 255, 0.8);
        padding-left: 16px;
        font-size: 2.8vh;
        font-weight: bold;
    }
}

.flexAlignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky {
    top: 0;
    position: fixed;
    width: 100%;
}

#content {
    min-height: 90vh;
    padding-top: 10vh;
    padding-bottom: 5vh;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 18px;
    }
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;    
    background-color: rgb(12, 12, 12);
    color: rgba(255, 255, 255, 0.8);
}