* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Roboto;
    font-weight: normal;
    box-sizing: border-box;
    color: rgb(26, 26, 26);
    overflow-x: hidden;
}

body {
    // display: grid;
    // grid-template-rows: 1fr 12fr 1fr;
    // overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: rgb(200, 200, 200);
}

#header {
    width: 100%;
    user-select: none;
    overflow: hidden;
    background-color: rgb(12, 12, 12);
    height: 5.5vh;

    a {
        float: right;
        font-size: 18px;
        display: block;
        text-align: center;
        padding: 1.7vh 2.4vh;
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
    }
    
    a:hover {
        background-color: rgb(201, 201, 201);
    }
    
    a.active {
      background-color: #04AA6D;
      color: white;
    }
    
    #title {
        padding: 8px 8px;
        float: left;
        color: rgba(255, 255, 255, 0.8);
        padding-left: 16px;
        font-size: 28px;
        font-weight: bold;
    }
}

.flexAlignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky {
    top: 0;
    position: fixed;
    width: 100%;
    padding-top: 5.5vh;
}

#content {
    min-height: 89vh;
    position: inherit;
    padding-top: 5.5vh;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 18px;
    }
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5.5vh;
    background-color: rgb(12, 12, 12);
    color: rgba(255, 255, 255, 0.8);
}