* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Roboto;
    font-weight: normal;
    box-sizing: border-box;
    color: rgb(26, 26, 26);
}

body {
    background-color: rgb(200, 200, 200);
}

#header {
    user-select: none;
    overflow: hidden;
    background-color: rgb(12, 12, 12);
    height: 50px;

    a {
        float: right;
        font-size: 18px;
        display: block;
        text-align: center;
        padding: 14px 20px;
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
    }
    
    a:hover {
        background-color: rgb(201, 201, 201);
    }
    
    a.active {
      background-color: #04AA6D;
      color: white;
    }
    
    #title {
        padding: 8px 8px;
        float: left;
        color: rgba(255, 255, 255, 0.8);
        padding-left: 16px;
        font-size: 28px;
        font-weight: bold;
    }
}

.flexAlignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + #content {
    padding-top: 60px;
}

#content {
    p {
        font-size: 18px;
    }
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: rgb(12, 12, 12);
    color: rgba(255, 255, 255, 0.8);
}