:root {
	--darkgray: #323232;
	--lightgray: #646464;
	--light: #EEEEEE;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: Roboto;
	box-sizing: border-box;
	color: var(--light);
}

body {
	background-color: var(--lightgray);
	display: flex;
	flex-direction: column;
}

header {
	position: fixed;
	width: 100%;
	user-select: none;
	overflow: hidden;
	background-color: var(--darkgray);
	border-bottom: 1px var(--light) solid;
	height: 50px;
	z-index: 1;

	#title {
		height: 100%;
		float: left;
		padding-left: 12px;
		font-size: 26px;
		font-weight: bold;
	}

	.navItem {
		float: right;
		height: 100%;
		width: 120px;
		font-size: 18px;

		a {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
		}
	}

	.navItem.active {
		background-color: #04AA6D;
		color: var(--darkgray);
	}
		
	.navItem:hover {
		background-color: rgb(220, 220, 220);
		color: var(--darkgray);

		a {
			color: var(--darkgray);
		}
	}
}

footer {
	width: 100%;
	height: 50px;
	user-select: text;
	background-color: var(--darkgray);
}

.flexAlignCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

#content {
	width: 100%;
	margin-top: 90px;
	margin-bottom: 30px;
	min-height: calc(100vh - 150px);
}

#forms {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
}

.form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	min-width: 280px;
	max-width: 280px;
	background-color: var(--darkgray);
	padding: 10px;
	border-radius: 5px;

	#title {
		font-size: 22px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	input {
		margin-top: 5px;
		margin-bottom: 10px;
	}
		
	input[type="text"] {
		width: 260px;
		height: 38px;
		font-size: 16px;
		border: none;
		border-radius: 5px;
		color: var(--darkgray);
		text-align: center;
	}

	// input[type="text"] {
	textarea {
		resize: none;
		width: 260px;
		height: 60px;
		font-size: 16px;
		border: none;
		border-radius: 5px;
		color: var(--darkgray);
		text-align: center;
		white-space: normal;
		text-align: justify;
		-moz-text-align-last: center;
		text-align-last: center;
	}

	button {
		width: 260px;
		height: 38px;
		font-size: 16px;
		border: none;
		border-radius: 5px;
		background-color: #fff;
		color: var(--darkgray);
	}

	button:hover {
		background-color: #04AA6D;
	}

	span {
		margin-top: 10px;
		margin-bottom: 20px;
	}
}

.nice-select {
	min-width: 260px;
	max-width: 260px;
	margin-top: 6px;
	margin-bottom: 10px;

	.option {
		color: var(--darkgray);
	}

	.current {
		color: var(--darkgray);
	}
}

#produktListe {
	display: flex;
	flex-wrap: wrap;
	max-width: 1700px;
	gap: 30px;
}

.product {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-row-gap: 20px;
 
	background-color: var(--darkgray);
	min-height: 300px;
	min-width: 400px;
	padding: 20px;
	border-radius: 5px;
	font-size: 18px;

	:nth-child(1) {
		grid-area: 1 / 1 / 2 / 5;
		font-size: 24px;
	}

	:nth-child(2) {
		grid-area: 2 / 1 / 4 / 5;
		display: flex;
		justify-content: center;
	}

	:nth-child(3) {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		grid-area: 4 / 1 / 4 / 4;
	}

	:nth-child(4) { grid-area: 4 / 4 / 4 / 5; }
}