:root {
	--darkgray: #323232;
	--lightgray: #646464;
	--light: #EEEEEE;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: Roboto;
	box-sizing: border-box;
	overflow-x: hidden;
	color: var(--light);
}

body {
	background-color: var(--lightgray);
	display: flex;
	flex-direction: column;
}    

header {
	position: fixed;
	width: 100%;
	user-select: none;
	overflow: hidden;
	background-color: var(--darkgray);
	height: 50px;

	#title {
		height: 100%;
		float: left;
		padding-left: 12px;
		font-size: 26px;
		font-weight: bold;
	}

	.navItem {
		float: right;
		height: 100%;
		width: 120px;
		font-size: 18px;

		a {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
		}
	}

	.navItem.active {
		background-color: #04AA6D;
		color: var(--darkgray);
	}
	
	.navItem:hover {
		background-color: rgb(220, 220, 220);
		color: var(--darkgray);

		a {
			color: var(--darkgray);
		}
	}
}

footer {
	width: 100%;
	height: 50px;
	user-select: text;
	background-color: var(--darkgray);
}

.flexAlignCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

#content {
	width: 100%;
	margin-top: 50px;
	min-height: calc(100vh - 100px);
}